<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1010866514018-260mlljl0bnp91uvg0kobco3nqgd1rhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1010866514018-260mlljl0bnp91uvg0kobco3nqgd1rhl</string>
	<key>API_KEY</key>
	<string>AIzaSyBc9TOdD3cLqEBR_cGPPESTvo7BLmAXkwc</string>
	<key>GCM_SENDER_ID</key>
	<string>1010866514018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HoogleyBoogley-Network.HoogleyBoogley-Journal</string>
	<key>PROJECT_ID</key>
	<string>hoogleyboogley-journal</string>
	<key>STORAGE_BUCKET</key>
	<string>hoogleyboogley-journal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010866514018:ios:ee394ffa95892fe8</string>
	<key>DATABASE_URL</key>
	<string>https://hoogleyboogley-journal.firebaseio.com</string>
</dict>
</plist>